/* dans ce css : 

ligne  10 à 189 :  css commun à toutes les pages
ligne 190 à 283 : css index. html
ligne 284 à 336 : css collaborators.html
ligne 337 à 382 :  css pages d'articles
ligne 383 à 445 :  css register.html
ligne  446 à 530 : css reviews.html   */

/* commun à toutes les pages */

body {
  font-family: "Nunito", sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}

.darkmod {
  background-color: #f0f0f0;
}

a {
	text-decoration: none;
  }
  
  .header {
	background: linear-gradient(to bottom, #368dfc, #9cf);
	padding: 10px 5px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	margin-bottom: 20px;
	position: fixed;
	z-index: 1000;
  }
  
  .nav-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
  }
  
  .nav-right {
	display: flex;
	align-items: center;
  }
  
  .nav-link {
	text-decoration: none;
	color: #000;
	display: inline-flex;
	align-items: center;
	margin-left: 30px;
	font-weight: bold;
  }
  
  .nav-icon {
	width: 30px;
	height: 30px;
	margin-right: 8px;
  }
  
  .home-icon {
	width: 30%;
	height: 30%;
  }
  
  .navigation a {
	  position: relative;
	  font-size: 1.1em;
	  color: #000000;
	  text-decoration: none;
	  font-weight: 500;
	  margin-right: 40px;
	}
	
	.navigation a::after {
	  content: "";
	  position: absolute;
	  left: 0;
	  bottom: -6px;
	  width: 100%;
	  height: 3px;
	  background: #000000;
	  border-radius: 5px;
	  transform-origin: right;
	  transform: scaleX(0);
	  transition: transform 0.5s;
	}
	
	.navigation a:hover::after {
	  transform-origin: left;
	  transform: scaleX(1);
	}
	
	.navigation a.active::after {
	  background: black;
	  transform: scaleX(1);
	}
	
	.menu-hamburger {
	  display: none;
	  position: absolute;
	  top: 90px;
	  left: 5px;
	  width: 50px;
	}
	
	.navigation .nav-links {
	  position: absolute;
	  display: flex;
	  flex-direction: column;
	  background: rgba(255, 255, 255, 0.3);
	  border-left: 1px solid rgba(255, 255, 255, 0.3);
	  border-top: 1px solid rgba(255, 255, 255, 0.3);
	  backdrop-filter: blur(10px);
	  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.3);
	  text-align: center;
	  top: 0;
	  left: 0;
	  padding: 5vw;
	  height: 100vh;
	  overflow: hidden;
	  margin-left: -100%;
	  transition: all 0.5s ease;
	  z-index: 1000;
	}
	
	.navigation .nav-links a {
	  align-items: center;
	  top: 5vh;
	  line-height: 13vh;
	  width: fit-content;
	}
	
	.navigation a::after {
	  bottom: 4vh;
	}
	
	.menu-hamburger {
	  display: block;
	  z-index: 99;
	  position: fixed;
	  z-index: 1001; 
	}
	
	.navigation .mobile-menu {
	  margin-left: 0;
	}
   
	.info {
		color: #555;
		line-height: 0.5;
		margin-left: 10px;
		display: flex;
		justify-content: right;
	  }
	  
	  .title {
		margin-top: 90px;
		text-align: center;
		color: #000;
	  }

	  #backToTop {
		position: fixed;
		width: 5%;
		height: 10%;
		bottom: 20px;
		right: 20px;
		background-color: #9cf;
		color: white;
		border: none;
		border-radius: 60px;
		padding: 10px 20px;
		cursor: pointer;
		display: none;
		transition: opacity 0.3s;
	  }
	  
	  #backToTop:hover {
		background-color: #285bb5;
	  }
  
	   #backToTop  img {
		width: 100%;
		height: 90%;
		border-radius: 5px;
		transition: all 0.3s ease-in-out;}



/* index.html */

.search-bar {
	text-align: center;
	margin-top: 95px;
	margin-bottom: 30px; 
	padding: 10px;
	display: flex;
	justify-content: center;
  }
  
  .search-bar input {
	background: #fff;
	padding: 10px 15px;
	width: 100%;
	max-width: 500px;
	font-size: 16px;
	border: 1px solid #285bb5;
	border-radius: 20px;
	color: #000;
	box-sizing: border-box;
  }
  
  .video-container {
	width: 60%;
	max-width: 800px;
	margin: 20px auto;
	position: relative;
  }
  
  video {
	width: 100%;
	border-radius: 10px;
	box-shadow: 0 4px 10px var(--texte);
  }
  
  .paragraph-container {
	text-align: center;
	margin: 20px auto;
	font-size: 18px;
	color: #000;
	line-height: 1.6;
  }
  .carousel-container {
	  position: relative;
	  width: 80%;
	  overflow: hidden;
	  margin: 0 auto;
  }
  
  .scrollable-images {
	  display: flex;
	  transition: transform 0.5s ease;
  }
  
  .image-link {
	  flex: 0 0 auto;
	  width: 300px;
	  margin-right: 15px;
  }
  
  .scroll-button {
	  position: absolute;
	  top: 50%;
	  background-color: #285bb5;
	  color: white;
	  border: none;
	  padding: 10px;
	  cursor: pointer;
	  font-size: 20px;
	  border-radius: 5px;
	  z-index: 10;
  }
  
  #scrollButtonLeft {
	  left: 10px;
  }
  
  #scrollButtonRight {
	  right: 10px;
  }
  
  .image-link img {
	  width: 100%;
	  height: auto;
	  border-radius: 10px;
  }
  
	.scroll-button:hover {
	  background-color: #285bb5;
	}

	
	
	
  
  /* collaborators.html */
  
  .lien {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 17vh;
  }
  
  .amazon a,
  .KFC a,
  .temu a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100px;
  }
  
  .amazon img,
  .KFC img,
  .temu img {
	margin-left: 70px;
	margin-right: 10px;
	margin-top: 5px;
	width: 70%;
	height: auto;
	border-radius: 5px;
	justify-content: center;
	display: flex;
  }
  
  .amazon p,
  .KFC p,
  .temu p {
	margin-left: 5px;
	margin-right: 5px;
	color: #000;
	font-weight: bold;
  }
  
  .amazon h1,
  .KFC h1,
  .temu h1 {
	margin-top: 2px;
	margin-bottom: 2px;
	color: #000;
	font-weight: bold;
	text-align: center;
  }

  
   /* articles_pages */
  
   .image-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 130px;
	padding-left: 100px;
	padding-right: 100px;
	transition: all 0.3s ease-in-out;
  }
  
  .image-row {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-bottom: 10px;
	transition: all 0.3s ease-in-out;
  }
  
  .image-link {
	width: 250px;
	height: 220px;
	background-color: #dcdcdc;
	margin-right: 30px;
	margin-bottom: 10px;
	padding: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	transition: all 0.3s ease-in-out;
  }
  
  .image-link img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
	transition: all 0.3s ease-in-out;
  }

  
 
  
   /* register.html */
  
  
   .form-container {
	width: 400px;  
	height: 500px; 
	margin: 150px auto 0; 
	padding: 20px;
	background-color: #f0f0f0;
	border-radius: 15px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	text-align: center;
	display: flex;
	flex-direction: column;  
  }
  
  .form-title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 60px; 

  }
  
  .form-field {
	margin-bottom: 20px; 
  }
  
  .form-field label {
	display: block;
	margin-bottom: 5px;
  }
  
  .form-field input {
	width: 100%;
	padding: 10px; 
	font-size: 18px;
	border-radius: 8px;
	border: 1px solid #616161;
	margin-left: -10px; 
  }
  
  .form-field button {
	margin-top: 40px ;
	width: 100%;
	padding: 16px;
	font-size: 18px;
	background-color:#368dfc;
	color: white;
	border: none;
	border-radius: 8px;
	cursor: pointer;
  }
  
  .form-field button:disabled {
	background-color: #747474;
  }
  
  .form-field button:hover:not(:disabled) {
	background-color: #285bb5;
  }
  .footer_info{
	background: linear-gradient(to bottom, #368dfc, #9cf);
      padding: 10px 5px;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      margin-top: 5px;
      position: fixed;
      z-index: 1000;

  } 

  .footer_info {
    display: flex; 
    justify-content: center; 
    gap: 100px; 
    padding: 10px 0;
}

.footer_info a img {
    width: 50px; 
    height: auto; 
	border-radius: 15px;
    transition: transform 0.3s; 
}

.footer_info a img:hover {
    transform: scale(1.1); 
}



  

   /* reviews.html */
	.chat-container {
	  position: relative;
	  max-width: 800px;
	  height: 70vh;
	  margin: 0 auto;
	  margin-top: 100px;
	  display: flex;
	  flex-direction: column;
  }
  
  .messages {
	  flex: 1;
	  overflow-y: auto;
	  padding: 10px;
	  display: flex;
	  flex-direction: column;
  }
  
  .message {
	  max-width: 70%;
	  margin-bottom: 15px;
	  padding: 20px 20px;
	  border-radius: 15px;
	  font-size: 18px;
	  line-height: 1.6;
	  color: black;
  }
  
  .message:nth-child(odd) {
	  align-self: flex-start;
	  background-color: #f2f2f2;
  }
  
  .message:nth-child(even) {
	  align-self: flex-end;
	  background-color: #d9d9d9;
  }
  
  .open-chat {
	  position: fixed;
	  bottom: 10px;
	  right: 20px;
	  width: 200px;
	  height: 200px;
	  cursor: pointer;
	  z-index: 10;
  }
  
  
  .input-container {
	  position: fixed;
	  bottom: 0px;
	  display: flex; 
	  width: 50%;           
	  align-items: center;     
	  background-color: #f0f0f0; 
	  padding: 10px;            
	  border-radius: 15px;    
	  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
	}
	
  
	#message-input {
	  flex: 1;                  
	  padding: 30px;           
	  border: 1px solid #ccc;  
	  border-radius: 15px;       
	  font-size: 20px;          
	  outline: none;      /* Supprimer la bordure au focus */
	}
	
  
	#send-button {
	  width: 25px;              
	  height: 25px;           
	  cursor: pointer;         
	  margin-left: 10px;       
	}
	