:root {
  --fond: #fff;
  --fond-light: #fff;
  --fond-night: #2d2d2d;

  --header-up: #368dfc;
  --header-down: #9cf;
  --header-up-light: #368dfc;
  --header-down-light: #9cf;
  --header-up-night: #fd494d;
  --header-down-night: #9b0a0a;

  --texte: #000;
  --texte-light: #000;
  --texte-night: #fff;
}

body {
  background: var(--fond);
  overflow: hidden;
  font-family: "Nunito", sans-serif;
}

header {
  background: linear-gradient(to bottom, var(--header-up), var(--header-down));
  padding: 10px 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 20px;
  margin-bottom: 10px;
}

.bandeau {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.right a {
  text-decoration: none;
  color: var(--texte);
  display: inline-flex;
  align-items: center;
  margin-left: 30px;
  font-weight: bold; /* lien en gras */
}

.bandeau .home img {
  top: 0;
  left: 0;
  width: 30%;
  height: 30%;
}

.bandeau .connexion img,
.bandeau .avis img,
.bandeau .partenaire img {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

#theme-button {
  margin-left: auto; /* Cette règle place le bouton à droite */
  display: flex;
  align-items: center;
  cursor: pointer; /* Change le curseur en main quand on passe dessus */
}

#theme-button ion-icon {
  margin-left: 5px; /* Ajoute un petit espace entre le texte et l'icône */
}

/* Style des liens de navigation */
.navigation a {
  position: relative;
  font-size: 1.1em;
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  font-weight: 500;
  margin-right: 40px; /* Ajout d'une marge interne à gauche */
}

/* Animation sous forme de barre sous les liens au survol */
.navigation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #000000;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

/* Quand on survole un lien, la barre se déploie */
.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

/* Lorsqu'un lien est actif, la barre est déjà déployée */
.navigation a.active::after {
  background: black;
  transform: scaleX(1);
  font-size: 800;
}

/* Styles pour l'icône du menu hamburger (visible uniquement sur petits écrans) */
.menu-hamburger {
  display: none;
  position: absolute;
  top: 90px;
  left: 5px;
  width: 50px;
}

/* Style du menu de navigation (nav-links) */
.navigation .nav-links {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.3);
  text-align: center; /* Alignement à gauche */
  top: 0;
  left: 0; /* Aligner le menu à gauche */
  padding: 5vw;
  height: 100vh;
  overflow: hidden;
  margin-left: -100%; /* Le menu commence hors de l'écran à gauche */
  transition: all 0.5s ease;
}

/* Style des liens dans le menu mobile */
.navigation .nav-links a {
  align-items: center;
  top: 5vh;
  line-height: 13vh;
  width: fit-content;
}

/* Ajustement de la position de la barre sous les liens */
.navigation a::after {
  bottom: 4vh;
}

/* Affichage du menu hamburger sur les petits écrans */
.menu-hamburger {
  display: block;
  z-index: 99;
}

/* Classe pour le menu mobile ouvert */
.navigation .mobile-menu {
  margin-left: 0; /* Le menu est maintenant visible à gauche */
}

.search-bar {
  text-align: center;
  margin-top: 95px; /* Assurez-vous qu'il y a un peu d'espace au-dessus */
  margin-bottom: 20px; /* Ajoutez de l'espace en bas pour qu'elle ne soit pas trop proche d'autres éléments */
  padding: 10px; /* Ajoute un peu de padding autour de la barre */
  display: flex;
  justify-content: center; /* Centrer la barre horizontalement */
}

.search-bar input {
  background: var(--fond);
  padding: 10px 15px; /* Plus de padding pour rendre le champ plus confortable */
  width: 100%; /* Assurez-vous que l'input prend toute la largeur du parent */
  max-width: 500px; /* Limiter la largeur maximale pour éviter qu'elle devienne trop grande */
  font-size: 16px;
  border: 1px solid var(--header-up);
  border-radius: 20px;
  color: var(--texte);
  box-sizing: border-box; /* Inclure les bordures et le padding dans la largeur totale */
}

/* Barre de défilement */

.scrollable-container {
  width: 100%;
  height: 300px; /* Vous pouvez ajuster la hauteur en fonction de vos besoins */
  overflow: hidden;
}

.scrollable-content {
  height: 90%;
  overflow-y: auto; /* Permet l'ajout de la barre de défilement verticale */
  padding: 10px;
  box-sizing: border-box;
}

.video-container {
  width: 60%;
  max-width: 800px;
  margin-bottom: 20px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); /* Ajuste le centrage de la vidéo */
}

video {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 10px var(--texte);
}
