body {
  background: #fff;
  overflow: hidden;
  font-family: "Nunito", sans-serif;
}

header {
  background: linear-gradient(to bottom, #368dfc, #9cf);
  padding: 10px 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.bandeau {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.right a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: inline-flex;
  align-items: center;
  margin-left: 30px;
  font-weight: bold; /* lien en gras */
}

.bandeau .home img {
  top: 0;
  left: 0;
  width: 30%;
  height: 30%;
}
.bandeau .connexion img,
.bandeau .avis img,
.bandeau .partenaire img {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}



/* Style des liens de navigation */
.navigation a {
  position: relative;
  font-size: 1.1em;
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  font-weight: 500;
  margin-right: 40px; /* Ajout d'une marge interne à gauche */
}

/* Animation sous forme de barre sous les liens au survol */
.navigation a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #000000;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}

/* Quand on survole un lien, la barre se déploie */
.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

/* Lorsqu'un lien est actif, la barre est déjà déployée */
.navigation a.active::after {
  background: black;
  transform: scaleX(1);
  font-size: 800;
}

/* Styles pour l'icône du menu hamburger (visible uniquement sur petits écrans) */
.menu-hamburger {
  display: none;
  position: absolute;
  top: 90px;
  left: 5px;
  width: 50px;
}

/* Style du menu de navigation (nav-links) */
.navigation .nav-links {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.3);
  text-align: center; /* Alignement à gauche */
  top: 0;
  left: 0; /* Aligner le menu à gauche */
  padding: 5vw;
  height: 100vh;
  overflow: hidden;
  margin-left: -100%; /* Le menu commence hors de l'écran à gauche */
  transition: all 0.5s ease;
}

/* Style des liens dans le menu mobile */
.navigation .nav-links a {
  align-items: center;
  top: 5vh;
  line-height: 13vh;
  width: fit-content;
}

/* Ajustement de la position de la barre sous les liens */
.navigation a::after {
  bottom: 4vh;
}

/* Affichage du menu hamburger sur les petits écrans */
.menu-hamburger {
  display: block;
  z-index: 99;
}

/* Classe pour le menu mobile ouvert */
.navigation .mobile-menu {
  margin-left: 0; /* Le menu est maintenant visible à gauche */
}





.search-bar {
  text-align: center;
  
}

.search-bar input {
  padding: 10px;
  width: 20%;
  backgroud : 
  font-size: 16px;
  border: 1px solid #b3b3b3;
  border-radius: 20px;
  background-color: #ccc;
}
